@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2f2f2f;
  --foreground: #ededed;
  --secondaryBackground: #212121;
  --messageBackground: #424242;
    height: 100%;
    width: 100%;
  scrollbar-color: #424242
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
